<a href="https://colab.research.google.com/github/fenzhantw/traditional_market/blob/main/%EC%A0%84%ED%86%B5_%EC%8B%9C%EC%9E%A5_%EC%A3%BC%EC%9C%84_%EC%8B%9C%EC%84%A4_%EA%B0%AF%EC%88%98%EC%84%B8%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('부산 대형 전통시장.csv',encoding='cp949')

In [4]:
data.head()

,시장명,시장유형,소재지도로명주소,소재지지번주소,시장개설주기,위도,경도,점포수,취급품목,공중화장실보유여부,주차장보유여부,개설연도
0,괴정골목시장,상설장,부산광역시 사하구 사하로198번길 37(괴정동) 외,부산광역시 사하구 괴정동 435-8,매일,35.100170,128.995575,145,"정육점, 쌀집, 생선, 축산, 의류, 분식, 야채, 떡, 과일, 참기름, 철물, 중...",N,N,49
1,국제시장,상설장,부산광역시 중구 중구로 42,부산광역시 중구 신창동4가 40-5,매일,35.101541,129.028072,580,주단 침구 문구 등,Y,Y,74
2,기장시장,상설장,부산광역시 기장군 기장읍 읍내로 104번길 16,부산광역시 기장군 기장읍 대라리 72-1,부산광역시 기장군 기장읍 대라리 72-1번지,35.243695,129.214867,149,"수산물, 농산물",Y,Y,78
3,남항시장,상설장,부산광역시 영도구 절영로49번길 73-5,부산광역시 영도구 영선동2가 64-6,매일,35.088908,129.042262,272,"농축산물, 수산물, 의류, 공산품 등 생필품 위주",Y,Y,62
4,복이 있는 덕포시장,상설장,부산광역시 사상구 사상로293번길 12(덕포1동),부산광역시 사상구 덕포동 421-13,매일,35.171282,128.982255,190,잡화,N,N,41

In [5]:
data_copy = data[:]

In [6]:
data_copy = data_copy[['시장명','위도','경도']]

In [7]:
data_copy.head()

          시장명         위도          경도
0      괴정골목시장  35.100170  128.995575
1        국제시장  35.101541  129.028072
2        기장시장  35.243695  129.214867
3        남항시장  35.088908  129.042262
4  복이 있는 덕포시장  35.171282  128.982255

In [8]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시장명     20 non-null     object
 1   위도      20 non-null     float64
 2   경도      20 non-null     float64
dtypes: float64(2), object(1)
memory usage: 608.0+ bytes

In [9]:
data_copy=data_copy.dropna()

In [10]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시장명     20 non-null     object
 1   위도      20 non-null     float64
 2   경도      20 non-null     float64
dtypes: float64(2), object(1)
memory usage: 640.0+ bytes

In [18]:
data_test = data_copy
data_test

           시장명         위도          경도
0       괴정골목시장  35.100170  128.995575
1         국제시장  35.101541  129.028072
2         기장시장  35.243695  129.214867
3         남항시장  35.088908  129.042262
4   복이 있는 덕포시장  35.171282  128.982255
5         동래시장  35.203809  129.085952
6         명지시장  35.112540  128.931597
7       못골골목시장  35.135860  129.089636
8       민락골목시장  35.157315  129.124373
9        부산진시장  35.136421  129.058838
10      부산평화시장  35.141698  129.060673
11        부전상가  35.160345  129.059569
12      부평깡통시장  35.101485  129.026220
13    서동전통골목시장  35.215573  129.102344
14        연일시장  35.185571  129.084849
15       자갈치시장  35.096639  129.030593
16        자유시장  35.140921  129.061096
17   정이있는 구포시장  35.208921  129.003509
18     충무동새벽시장  35.093295  129.024741
19       해운대시장  35.161403  129.162314

In [19]:
import requests

def getCount(id, lat, lng, category):
    url = "https://dapi.kakao.com/v2/local/search/category.json?x=" + lng + "&y=" + lat + "&radius=1000&category_group_code="+category #radius는 미터단위
    apikey = "5e5acc55c8584f36abffe26633c82550"
    r = requests.get( url, headers={'Authorization' : 'KakaoAK ' + apikey })
    return r.json()["meta"]["total_count"]

In [20]:
result = [['시장명', '편의점', '주유소,충전소', '문화시설', '관광명소', '음식점', '카페']]
category_code = ['CS2', 'OL7', 'CT1', 'AT4', 'FD6', 'CE7']
# CS2	편의점
# OL7	주유소, 충전소
# CT1	문화시설
# AT4	관광명소
# FD6	음식점
# CE7	카페
for v in data_test.iterrows():
    id = str(v[1]['시장명'])
    lat = str(v[1]['위도'])
    lng = str(v[1]['경도'])
    item_result = [id]
    for cate in category_code:
        item_result.append(getCount(id, lat, lng, cate))
    result.append(item_result)

In [21]:
print(result[0])

['시장명', '편의점', '주유소,충전소', '문화시설', '관광명소', '음식점', '카페']

In [24]:
import numpy as np
 
#numpy array 생성
 
arr = np.array(result)

df = pd.DataFrame(arr)

In [25]:
df

             0    1        2     3     4     5    6
0          시장명  편의점  주유소,충전소  문화시설  관광명소   음식점   카페
1       괴정골목시장   40        4     1     0   491   61
2         국제시장  106        1    44    44  2163  425
3         기장시장   39        6     3     7   555   63
4         남항시장   31        4     3    10   639   89
5   복이 있는 덕포시장   47        7     2     2   713   98
6         동래시장   42        5    13     6   972  162
7         명지시장    4        1     0     0   101   18
8       못골골목시장   61        5    21     1   830  171
9       민락골목시장   55        3    12    11   902  192
10       부산진시장   47        8    16    11   782  109
11      부산평화시장   75        7    24    11  1005  177
12        부전상가  126        2    23    18  2920  713
13      부평깡통시장  101        1    42    42  2087  398
14    서동전통골목시장   23        5     0     2   410   39
15        연일시장   77        5     3     1  1353  166
16       자갈치시장   84        3    36    46  1975  373
17        자유시장   74        7    25    12  1063  177
18   정이있는 구포시장   54        3     8     8   919  125
19     충무동새벽시장   54        2    14    35  1379  193
20       해운대시장   77        5    19    22  1040  193