In [2]:
# !pip install pyproj

In [7]:
from pyproj import Proj, transform
from tqdm import tqdm

import numpy as np
import pandas as pd

## 좌표변환 (WGS84 to UTMK)

In [8]:
check_go = pd.read_excel('../data/전통시장데이터_정리완료.xlsx')

In [9]:
proj_UTMK = Proj(init='epsg:5178')
proj_WGS84 = Proj(init = 'epsg:4326')

C:\Users\user\miniconda3\lib\site-packages\pyproj\crs\crs.py:131: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
C:\Users\user\miniconda3\lib\site-packages\pyproj\crs\crs.py:131: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

In [10]:
for i in tqdm(range(len(check_go))) :
    x1, y1 = transform(proj_WGS84, proj_UTMK, check_go['경도'][i], check_go['위도'][i])
    check_go['경도'][i], check_go['위도'][i] = x1, y1

check_go.drop(['Unnamed: 0'], axis = 1, inplace = True)

  0%|          | 0/1850 [00:00<?, ?it/s]<ipython-input-10-4a840eb9d74c>:2: DeprecationWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  x1, y1 = transform(proj_WGS84, proj_UTMK, check_go['경도'][i], check_go['위도'][i])
<ipython-input-10-4a840eb9d74c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  check_go['경도'][i], check_go['위도'][i] = x1, y1
100%|██████████| 1850/1850 [00:35<00:00, 51.51it/s]

In [11]:
check_go.head(2)

,시장명,위도,경도,시도명,시군구명,5일장,복합장,상설장,점포수,공중화장실보유여부,...,농산물이 주요품목,시구 미성년자,시구 젊은청년,시구 소득인구,시구 노년인구,동별 미성년자,동별 젊은청년,동별 소득인구,동별 노년인구,버스정류장
0,양촌시장,1.793208e+06,976286.760773,충청남도,논산시,1,0,0,0,1,...,0,17038,16330,52212,31095,791,726,2528,2172,10
1,덕풍전통시장,1.948871e+06,973943.302140,경기도,하남시,0,1,0,185,1,...,1,55333,58190,142356,37573,4718,4543,12594,3864,54

In [12]:
check_go.to_excel('../data/전통시장데이터_정리완료_좌표변환.xlsx', index = False)

## 좌표변환 (UTMK tot WGS84)

In [6]:
data = pd.read_excel('../data/성연령별유동인구(202012).xlsx')

In [12]:
proj_UTMK = Proj(init = 'epsg:5178')
proj_WGS84 = Proj(init = 'epsg:4326')

C:\Users\user\miniconda3\lib\site-packages\pyproj\crs\crs.py:131: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
C:\Users\user\miniconda3\lib\site-packages\pyproj\crs\crs.py:131: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

In [28]:
check_df = data[['X_COORD', 'Y_COORD']]
check_df.drop([0], axis = 0, inplace = True)
check_df.reset_index(drop = True, inplace = True)
check_df.head()

C:\Users\user\miniconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

         X_COORD         Y_COORD
0  953883.991787  1955879.147389
1  956583.991787  1951679.147389
2  955533.991787  1947229.147389
3  959583.991787  1950479.147389
4  963983.991787  1949679.147389

In [29]:
def transform_utmk_to_w84(df) :
    return pd.Series(transform(proj_UTMK, proj_WGS84, df['X_COORD'], df['Y_COORD']), index = ['X_COORD', 'Y_COORD'])

check_df[['X_COORD', 'Y_COORD']] = check_df.apply(transform_utmk_to_w84, axis = 1)

In [31]:
check_df.head()

      X_COORD    Y_COORD
0  126.975401  37.603923
1  127.006237  37.566199
2  126.994618  37.526040
3  127.040273  37.555520
4  127.090127  37.548492